<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima rerum hic quos rem vel. Eligendi sit quam
  voluptates, dolore ipsum tempore, quis distinctio culpa molestias sed eius non ullam dolorum aspernatur expedita amet
  aliquam iure itaque qui est? Ut vitae esse cum recusandae magnam. Aperiam laudantium aut maiores officiis magnam?</p>

  <%- include("footer") -%> 